body {
  background: #161719 url('/images/bg.png');
}

html *{
  font-family: 'Trebuchet MS',Verdana, sans-serif;
}

a{
  color: #fc0;
}

/* top header */
.top{
  height: 125px;
  width: 950px;
  background-color: #161719;
  margin: -8px auto 0px auto;
  border: solid;
  border-color: #333;
  border-width: thin;
  position: center;
}

.top a{
  text-decoration: none;
  display: block;
  width: 950px;
  height: 125px;
  color: white;
}

.top h1{ 
  margin: 0px auto -8px auto;
  text-align: center;
  line-height: 125px;
  font-size: 40px;
  color: white;
}


/* navigation bar */
#nav {
  width: 950px;
  height: 40px;
  padding: 0px;
  line-height: 40px;
  background-color: #878A97;
  border: solid;
  margin: auto;
  border-color: #747474;
  border-width: thin;
  list-style: none;

}

#nav > li{
  float: left;
  width: 150px;
  height: 40px;
  border-right: 0.5px solid #747474;
}

#nav > li > a{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
}

#nav > li:hover{
  background-color: #414141;
  width: 150px;
  height: 40px;
}

#nav li > ul > li{
  display: none;
}

#nav li > ul{
  position: relative;
  right: 40px;
  z-index: 1;
}

#nav li:hover ul > li{
  display: block;
  background-color:#878A97;
  float: left;
  width: 190px;
  height: 40px;
  text-align: center;
  border: solid;
  border-bottom: none;
  border-color: #747474;
  border-width: thin;
}

#nav li > ul > li:hover{
  background-color: #414141;
}

#nav li > ul > li a{
  color: white;
  text-decoration: none;
  display: block;
}






/* home */
.home-content{
  height: 450px;
  width: 950px;
  background-color: #161719;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #333;
  border-width: thin;
}

.home-content h1{
  color: white;
  text-align: center;
  position: relative;
  top: 50px;
}

.home-content p{
  margin-bottom: 40px;
  margin-top: 60px;
  color: white;
  font-size: 14px;
  text-align: center;
  position:relative;
  top: 40px;
}

.home-content a{
  text-decoration: none;
  color: #fc0;
}

.home-content a:hover{
  text-decoration: underline;
}

.home-content li{
  text-align: center;
}

.home-content li a{
  color: #fc0;
}




/* goldeneye.php*/
.content{
  height: 200px;
  width: 950px;
  background-color: #161719;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #333;
  border-width: thin;
  text-align: center;
}

.content-links{
  position: relative;
  top: 91px;
}

.content a{
  text-decoration: none;
  margin-right: 50px;
}

.content a:hover{
  text-decoration: underline;
}



/* player videos */
.player-select{
  height: 200px;
  width: 950px;
  background-color: #161719;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #333;
  border-width: thin;
  display:flex;
  align-items: center;
  justify-content: center;
}

.player-select h1{
  color: white;
  text-align: center;
}



















.players-content{
  height: auto;
  width: 950px;
  background-color: #161719;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #333;
  border-width: thin;
}

.video-table{
  margin-top: 40px;
  margin-bottom: 40px;
}


.players-content .video-table{
  width: 800px;
  color: white;
  padding-bottom: 25px;
  padding-left: 25px;
  border: solid;
  border-width: thin;
  border-color: #333;
  text-align: left;
}


.players-content .video-table td{
  white-space: nowrap;
  table-layout: fixed;
  overflow: hidden;
  text-overflow:  ellipsis;
  word-wrap: break-word;
  border-width: 0px;
  font-size: 16px;
}


.players-content .video-table tr:first-child{
  height: 60px;
  font-size: 20px;
  border-style: dotted;
}

.players-content .video-table th{
  border: none;
}



.players-content .video-table td a{
  color: #fc0;
  text-decoration: none;
}


.players-content .video-table td a:hover{
  color: #fc0;
  text-decoration: underline;
}


.players-content .player-stats p{
  position: relative;
  margin-top: 1.5em;
  text-align: left;
  top: 16px;
  font-size: 16px;
  left: 55px;
}


.players-content .player-stats a{
  text-decoration: none;
}


.players-content .player-stats p a:hover{
  text-decoration: underline;
}


.players-content .filter{
  width: 800px;
  position: relative;
  bottom: 80px;
  left: 300px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}


.players-content .filter h2{
  position: relative;
  bottom: 130px;
  left: 60px;
  color: white;
}


.players-content .filter strong{
  color: white;
}


.players-content .filter .filter-form{
  margin-top: 30px;
}







.players-content .dashboard p{
  position: relative;
  left: 30px;
  margin: 30px 0px 30px 30px;
  font-size: 17px;
}

.players-content .dashboard span a{
  text-decoration: none;
  position: relative;
  margin-left: 35px;
  left: 30px;
  font-size: 16px;
}

.players-content .dashboard span a:hover{
  text-decoration: underline;
}

.no-data{
  height: auto;
  width: 950px;
  background-color: #161719;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #333;
  border-width: thin;
  text-align: center;
}


.players-content .back{
  width: 925px;
  text-align: right;
}

.players-content .back p{

}

.players-content .back p a{
  text-decoration: none;
}

.players-content .back p a:hover{
  text-decoration: underline;
}


.players-content .player-name{
  text-align: right;
  width: 925px;
}

.players-content .player-name span{
  color: white;
}


.players-content .above-table{
  height: 30px;
}